description = "Footer Default Musicool"
==
<?php
use Andev\Musicool\Models\Email;
use Andev\Musicool\Models\Phone;
function onStart() {
    $email = Email::where('is_main',1)->first();
    $this['email'] = $email;
    $phone = Phone::where('is_main',1)->first();
    $this['phone'] = $phone;
}
?>
==
<footer>
    <div class="container-fluid bg-dark">
      <div class="row">
        <div class="container">
          <div class="row bottomnav">
            <div class="col-sm-6">
              <a href="#" class="footrlogo">
                <img src="{{ 'assets/img/logo-musicool.png'|theme }}" class="img-responsive">
              </a>
              <p>{{ email.email }}</p>
              <p>{{ phone.phone_number }}</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-4">
                  <ol class="list-unstyled">
                    <h5>Company</h5>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="product.html">Product</a></li>
                    <li><a href="galeri.html">Galeri</a></li>
                    <li><a href="pesan.html">Pesan Sekarang</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                  </ol>
                </div>
                <div class="col-sm-8 subsc">
                  <h5>Subscribe</h5>
                  <p>Get latest update and offers.</p>
                  <form>
                    <div class="input-group">
                      <input type="email" id="email" class="form-control" placeholder="Enter your E-mail">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="subscribe()">
                          <i class="fa fa-arrow-right"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                  <ol class="list-unstyled">
                    <li><a href="https://twitter.com/{{ contact.twitter }}" target="_blank"><i class="fa fa-twitter"></i>Twitter</a></li>
                    <li><a href="https://facebook.com/{{ contact.face }}" target="_blank"><i class="fa fa-facebook"></i>Facebook</a></li>
                    <li><a href="#" target="_blank"><i class="la la-google-plus"></i>Google+</a></li>
                    <li><a href="https://www.linkedin.com/in/{{ contact.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                  </ol>
                </div>
              </div>
            </div>
          </div> <!-- ./bottomnav -->
        </div>
      </div>
    </div>
    <div class="container-fluid bg-green">
      <div class="row">
        <div class="container cp">
          <p>Copyright &copy; {{ "now"|date("Y") }} MUSICOOL</p>
        </div>
      </div>
    </div>
  </footer>
  <script>
  function subscribe(){
     let email = $("#email").val();
     $.ajax({
         url: "/api/subscriber",
         type:"POST",
         data:{
           "email":email
         },
         success:function(){
             alert("success subscribe");
         },
         error: function(error){
             alert(error.responseJSON.data.email[0]);
         }
     })
  }
  </script>