==
<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MUSICOOL - Home</title>
  
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/bootstrap.offcanvas.min.css" />
  <link rel="stylesheet" type="text/css" href="fonts/css/line-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="fonts/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css" />
  <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css" />
  <!-- <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css?v=2.1.5" media="screen" /> -->
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" type="text/css" href="css/responsive.css" />

</head>

<body>

  <!-- <section id="header" class="mainpage hidden-xs" data-spy="affix" data-offset-top="81"> -->
  <header id="header" class="mainpage hidden-xs" data-spy="affix" data-offset-top="81">
    <div class="mainmenu">
      <div class="container">
      <!-- TOPNAV -->
      <div class="row">
        <div class="col-md-2 header-logo">
          <img src="img/logo-musicool.png" class="logo img-responsive">
          <img src="img/logo-musicool_w.png" class="logow img-responsive">
        </div>
        <div class="col-md-10 topnav header-nav clearfix">
          <ul class="nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="product.html">Product</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="galeri.html">Galeri</a></li>
            <li><a href="pesan.html">Pesan Sekarang</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
      <!-- ./TOPNAV -->
      </div>

    </div>
  </header>
  <!-- Mobile Menu -->
  <header id="header-m" class="mainpage clearfix visible-xs" data-spy="affix" data-offset-top="81">
    <nav class="navbar navbar-default navbar-mobile" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">

                <div class="header-m">
                  <img src="img/logo-musicool.png" class="logo img-responsive">
                  <img src="img/logo-musicool_w.png" class="logow img-responsive">
                </div>
                <button type="button" class="navbar-toggle offcanvas-toggle pull-right" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas" style="float:left;">
                    <span class="sr-only">Toggle navigation</span>
                    <span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </span>
                </button>
            </div>
        </div>
    </nav>

    <div class="navbar-offcanvas navbar-offcanvas-right" id="js-bootstrap-offcanvas">
      <div class="clearfix topx">
        <button type="button" class="btn-close navbar-toggle pull-right">
            <span class="sr-only">Toggle navigation</span>
            <i class="la la-times-circle"></i>
        </button>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="aboutus.html">About Us</a></li>
        <li><a href="product.html">Product</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="galeri.html">Galeri</a></li>
        <li><a href="pesan.html">Pesan Sekarang</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
      <div class="mobilemenu-logo">
        <img src="img/logo-musicool.png" class="img-responsive">
      </div>
    </div>
  </header>
  <!-- ./Mobile Menu -->


  <a id="top"></a>
  <section id="home-musicool">
    <div id="mainslider" class="owl-carousel owl-theme">
      <div class="item" style="background-image: url('img/slides/bg-hd.jpg');">
        <div class="slide-caption">
          <h1 class="slogan">Hematnya Energi<br>Hijaunya Bumi</h1>
          <img src="img/musicool.png" class="msc img-responsive">
        </div>
        <img src="img/healtheearth.png" class="heal img-responsive">
        <img src="img/daun.png" class="dkn hidden-xs img-responsive">
        <img src="img/daun.png" class="dkr img-responsive">
      </div>
    </div>
    <!-- <a class="arrow-prev noselect"></a>
    <a class="arrow-next noselect"></a> -->
  </section>

  <section id="sekilas-musicool">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <img src="img/logo-musicool.png" class="img-responsive">
          <h2>Let them know you save the Planet with Our Best product</h2>
          <p>Peningkatan teknologi menghasilkan suatu bahan yang dapat menggantikan R22 menjadi bahan yang ramah lingkungan (tidak merusak ozon) dan hemat energi. Bahan tersebut adalah Musicool Refrigerant MC 22. Musicool adalah refrigerant hidrokarbon yang ramah lingkungan.</p>
          <p>Banyak jenis refrigerant yang merupakan bahan perusak ozon dan dapat menibulkan efek rumah kaca. Dengan menggunakan Musicool berarti anda turut berkontribusi dalam menjaga kelestarian lingkungan.</p>
        </div>
        <div class="col-sm-4">
          <img src="img/musicool-hijau.png" class="tabung img-responsive">
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="bg-grey">
    <div class="container">
      <h2>Kelebihan Musicool Refrigerant MC 22 dibandingkan dengan bahan pendingin Freon</h2>
      <div class="row">
        <div class="col-sm-3">
          <h4>Hemat</h4>
          <p>Menghemat pemakaian listrik/bahan bakar hingga 30% dan memberikan efek pendinginan lebih baik.</p>
        </div>
        <div class="col-sm-3">
          <h4>Komponen Friendly</h4>
          <p>Tidak merusak mesin AC dan tidak memerlukan penggantian dan penambahan komponen.</p>
        </div>
        <div class="col-sm-3">
          <h4>Ringan</h4>
          <p>Meringankan kerja kompressor, sehingga umur pemakaian kompressor AC menjadi lebih panjang.</p>
        </div>
        <div class="col-sm-3">
          <h4>Ramah Lingkungan</h4>
          <p>Ramah lingkungan karena tidak merusak lapisan Ozon dan tidak menimbulkan Efek Rumah Kaca / Pemanasan Global.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="values" class="bg-green">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h2 class="text-white">Musicool Has Many Core Values</h2>
          <p class="text-white">Banyak perusahaan atau pemukiman yang hingga kini masih menggunakan bahan perusak alam, khususnya yang mengandung Bahan Perusak Ozon (BPO). Misalnya chlorofluorocarbons (CFCs) dan hydrochlorofluorocarbons (HCFCs) yang digunakan sebagai pendingin pada produk lemari es dan AC.</p>
        </div>
        <div class="col-sm-4">

        </div>
      </div>
    </div>
  </section>

  <footer>
    <div class="container-fluid bg-dark">
      <div class="row">
        <div class="container">
          <div class="row bottomnav">
            <div class="col-sm-6">
              <a href="#" class="footrlogo">
                <img src="img/logo-musicool.png" class="img-responsive">
              </a>
              <p>admin@musicoolpromo.com</p>
              <p>1 500 000</p>
            </div>
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-4">
                  <ol class="list-unstyled">
                    <h5>Company</h5>
                    <li><a href="aboutus.html">About Us</a></li>
                    <li><a href="product.html">Product</a></li>
                    <li><a href="galeri.html">Galeri</a></li>
                    <li><a href="pesan.html">Pesan Sekarang</a></li>
                    <li><a href="contact.html">Contact us</a></li>
                  </ol>
                </div>
                <div class="col-sm-8 subsc">
                  <h5>Subscribe</h5>
                  <p>Get latest update and offers.</p>
                  <form>
                    <div class="input-group">
                      <input type="email" class="form-control" placeholder="Enter your E-mail">
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                          <i class="fa fa-arrow-right"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                  <ol class="list-unstyled">
                    <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                    <li><a href="#"><i class="la la-google-plus"></i>Google+</a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                  </ol>
                </div>
              </div>
            </div>
          </div> <!-- ./bottomnav -->
        </div>
      </div>
    </div>
    <div class="container-fluid bg-green">
      <div class="row">
        <div class="container cp">
          <p>Copyright &copy; 2019 MUSICOOL</p>
        </div>
      </div>
    </div>
  </footer>





  <script src="js/jquery-1.11.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap.offcanvas.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <!-- <script src="js/jquery.matchHeight-min.js"></script> -->
  <script src="js/home.js"></script>
  <script src="js/main.js"></script>

  



</body>
</html>